<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
<resultMap type="board" id="boardMap">
	<id property="boardNo" column="boardno"/>
	<result property="boardTitle" column="boardtitle"/>
	<result property="boardContent" column="boardcontent"/>
	<result property="boardReadCount" column="boardreadcount"/>
	<result property="boardDate" column="boarddate"/>
	<association property="boardWriter" resultMap="memberMap"/>
	<collection property="file" ofType="attachment">
		<id property="attachmentNo" column="attachmentno"/>
		<result property="boardNo" column="boardno"/>
		<result property="originalFilename" column="originalfilename"/>
		<result property="renamedFilename" column="renamedfilename"/>
		<result property="uploadDate" column="uploaddate"/>
		<result property="downloadCount" column="downloadcount"/>
	</collection>
</resultMap>

<resultMap type="member" id="memberMap">
	<id property="userId" column="userId"/>
	<result property="password" column="password"/>
	<result property="userName" column="username"/>
	<result property="gender" column="gender"/>
	<result property="age" column="age"/>
	<result property="email" column="email"/>
	<result property="phone" column="phone"/>
	<result property="address" column="address"/>
	<result property="enrollDate" column="enrolldate"/>
	<result property="hobby" column="hobby" typeHandler="strArr"/>
</resultMap>

<select id="selectBoardAll" resultMap="boardMap">
	SELECT * FROM BOARD
		JOIN MEMBER ON BOARDWRITER=USERID
		LEFT JOIN ATTACHMENT USING(BOARDNO)
		ORDER BY BOARDDATE DESC
</select>
<select id="selectBoardCount" resultType="int">
	SELECT COUNT(*) FROM BOARD
		JOIN MEMBER ON BOARDWRITER=USERID
		LEFT JOIN ATTACHMENT USING(BOARDNO)
</select>
<select id="selectBoardByNo" parameterType="int" resultMap="boardMap">
	SELECT *FROM BOARD
		JOIN MEMBER ON BOARDWRITER=USERID
		LEFT JOIN ATTACHMENT USING(BOARDNO)
	WHERE BOARDNO=#{no}
</select>

<insert id="insertBoard" parameterType="board">
	INSERT INTO BOARD VALUES(SEQ_BOARDNO.NEXTVAL,#{boardTitle},#{boardWriter.userId},#{boardContent},DEFAULT,DEFAULT)
	<selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
		SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<insert id="insertAttachment" parameterType="attachment">
	INSERT INTO ATTACHMENT VALUES(SEQ_ATTACHMENTNO.NEXTVAL,#{boardNo},#{originalFilename},#{renamedFilename},default,default,default)
</insert>


</mapper>
